/* style.css */
body {
  font-family: Arial, sans-serif;
  background-image: url('img/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 87vh;
  margin: 0;
  padding: 40px;
}

form {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  width: 370px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 100px;
  height: auto;
}

h2 {
  text-align: center;
}

.judul {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  width: 90%;
  font-size: 26px;
  margin-left: 15px;
  font-weight: bold;
  color: rgb(0, 119, 255);
}

.petunjuk {
  background-color: rgb(0, 119, 255);
  color: white;
  font-size: 12px;
  padding: 4px;
  margin-bottom: 0px;
  border-radius: 2px;
  text-align: left;
  margin-left: 15px;
  width: 56%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 15px;
  margin-left: 15px;
}

input[type="text"],
input[type="password"] {
  width: 95%;
  padding: 8px;
  box-sizing: border-box;
}

.button-container {
  margin-left: 270px;
}

button {
  padding: 10px 20px;
  background-color: rgb(0, 119, 255);
  color: white;
  border: none;
  cursor: pointer;
  width: auto;

}

button:hover {
  background-color: rgb(0, 162, 255);
}

a {
  display: block;
  text-align: center;
  margin-top: 1px;
}